.cover__link {
  background-image: url(../../../images/cover-trains.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  display: flex;
  flex-direction: column;
  text-decoration: none;
  width: 100%;
  justify-content: center;
  position: relative;
  aspect-ratio: 1/0.625;
  max-width: 1184px;
}

.cover__link::before {
  content: "";
  background-color: #2a2c2f;
  opacity: 0.3;
  position: absolute;
  height: 100%;
  width: 100%;
}

.cover__link:hover::before {
  opacity: 0.8;
}

@media screen and (max-width: 1024px) {
  .cover__link {
    max-width: 1024px;
    padding: 0;
  }
}

@media screen and (max-width: 768px) {
  .cover__link {
    max-width: 768px;
    margin-bottom: 88px;
  }
}

@media screen and (max-width: 320px) {
  .cover__link {
    margin-bottom: 62px;
  }
}
