.header__lang-link-active {
  text-decoration: underline;
  font-size: 24px;
  line-height: 28px;
  color: #fff;
}

@media screen and (max-width: 425px) {
  .header__lang-link-active {
    font-size: 18px;
    line-height: 20px;
  }
}