.place {
  display: grid;
  grid-template-columns: minmax(440px, 1fr) 1fr;
  gap: 48px 16px;
  max-width: 984px;
  margin: 0 auto;
}

@media screen and (max-width: 1024px) {
  .place {
    grid-template-columns: 440px 1fr;
    max-width: 928px;
    gap: 48px 32px;
  }
}

@media screen and (max-width: 768px) {
  .place {
    grid-template-columns: 340px 1fr;
    max-width: 928px;
    column-gap: 28px;
  }
}

@media screen and (max-width: 640px) {
  .place {
    gap: 32px;
    grid-template-columns: 1fr;
  }
}
