.footer {
  display: flex;
  justify-content: space-between;
  max-width: 1184px;
  margin: 0 auto;
  padding-bottom: 24px;
}

@media screen and (max-width: 1024px) {
  .footer {
    max-width: 928px;
  }
}

@media screen and (max-width: 768px) {
  .footer {
    max-width: 720px;
    padding-right: 24px;
    padding-left: 24px;
    margin: 0;
  }
}

@media screen and (max-width: 640px) {
  .footer {
    flex-direction: column;
    flex-wrap: wrap;
    padding-left: 16px;
    gap: 48px;
    padding-right: calc(320px - 186px - 16px);
    max-width: 186px;
  }
}
