.place__website {
  display: flex;
  justify-content: end;
  flex-direction: column;
  margin: 0;
  gap: 12px;
  padding: 0;
  align-items: flex-start;
}

@media screen and (max-width: 320px) {
  .place__website {
    padding: 0 16px;
  }
}
